<% if items.blank? %>
  <li>
    <%= link_to search_path(params[:search]),
      class: "btn btn-default btn-block" do %>
      <%= "No results for #{params[:search]}" %>
    <% end %>
  </li>
<% else %>
  <div class="scrollable-menu">
    <% items.each do |item| %>
      <%= render "parkings/search_item", parking: item %>
    <% end %>
  </div>
  <li class="divider" style="list-style-type: none"></li>
<% end %>
