$hong_nhat_91: #f2dede;
$hong_nhat_88: #eed3d7;
$do_sam_50: #b94a48;
$xanh_nhat_89: #dff0d8;
$xanh_nhat_85: #d6e9c6;
$xanh_dam_40: #468847;
$trang_xam_89: #e3e3e3;
$da_troi_61: #70c5c0;
$xam_48: #7a7a7a;
$trang_xam_93: #ececec;
$den_0_3: rgba(0, 0, 0, 0.3);
$den_0_1: rgba(0, 0, 0, 0.1);
$da_troi_52: #50b8b3;
$trang_xam_88: #e1e1e1;
$xam_20: #333;
$da_troi_38: #19aa8d;
$da_troi_35: #179b81;
