$white91: #f2dede;
$white88: #eed3d7;
$white50: #b94a48;
$green89: #dff0d8;
$green85: #d6e9c6;
$green40: #468847;
$gray89: #e3e3e3;
$blue61: #70c5c0;
$gray48: #7a7a7a;
$gray93: #ececec;
$black0_3: rgba(0, 0, 0, 0.3);
$black0_1: rgba(0, 0, 0, 0.1);
$blue52: #50b8b3;
$gray88: #e1e1e1;
$gray20: #333333;
$blue38: #19aa8d;
$blue35: #179b81;
$tomato: #ff6347;
