@import 'colors';

/*Header*/

.navbar-inverse {
  border-radius: 0;
}

.user_img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 6px
}

.login_tag {
  margin-right: 7px
}

/*flash*/
.alert-error {
  background-color: $white91;
  border-color: $white88;
  color: $white50;
  text-align: left;
}

.alert-alert {
  background-color: $white91;
  border-color: $white88;
  color: $white50;
  text-align: left;
}

.alert-success {
  background-color: $green89;
  border-color: $green85;
  color: $green40;
  text-align: left;
}

.alert-notice {
  background-color: $green89;
  border-color: $green85;
  color: $green40;
  text-align: left;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/*login*/
.form-control {
  background: white;
  box-shadow: none !important;
  border-color: $gray89;
}

.form-control:focus {
  border-color: $blue61;
}

.form-control, .btn {
  border-radius: 2px;
}

.login-form {
  margin-top: 200px;
}

.login-form form {
  color: $gray48;
  border-radius: 2px;
  margin-bottom: 15px;
  font-size: 13px;
  background: $gray93;
  box-shadow: 0px 2px 2px $black0_3;
  padding: 30px;
  position: relative;
}

.login-form h2 {
  font-size: 22px;
  margin: 35px 0 25px;
}

.login-form .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -50px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: $blue61;
  padding: 15px;
  box-shadow: 0px 2px 2px $black0_1;
}

.login-form .avatar img {
  width: 100%;
}

.login-form input[type="checkbox"] {
  margin-top: 2px;
}

.login-form .btn {
  font-size: 16px;
  font-weight: bold;
  background: $blue61;
  border: none;
  margin-bottom: 20px;
}

.login-form .btn:hover, .login-form .btn:focus {
  background: $blue52;
  outline: none !important;
}

.login-form a {
  color: white;
  text-decoration: underline;
}

.login-form a:hover {
  text-decoration: none;
}

.login-form form a {
  color: $gray48;
  text-decoration: none;
}

.login-form form a:hover {
  text-decoration: underline;
}

.btn-google {
  background: $tomato !important;
  text-decoration: none !important;
  color: white !important;
}

/*sign_up*/

.signup-form {
  margin-top: 80px;
}

.input-group-addon {
  border-color: $gray88;
}

.signup-form form {
  color: $gray48;
  border-radius: 2px;
  margin-bottom: 15px;
  font-size: 13px;
  background: $gray93;
  box-shadow: 0px 2px 2px $black0_3;
  padding: 30px;
}

.signup-form h2 {
  color: $gray20;
  font-weight: bold;
  margin-top: 0;
}

.signup-form hr {
  margin: 0 -30px 20px;
}

.signup-form .form-group {
  margin-bottom: 20px;
}

.signup-form .input-group-addon {
  max-width: 42px;
  text-align: center;
}

.signup-form .btn{
  font-size: 16px;
  font-weight: bold;
  background: $blue38;
  border: none;
  min-width: 140px;
}

.signup-form .btn:hover, .signup-form .btn:focus {
  background: $blue35;
  outline: none;
}

.signup-form .fa-check {
  color: white;
  left: 16px;
  top: 17px;
  font-size: 7px;
  position: absolute;
}

/*forgot_pw*/

.forgot_pw-form {
  margin-top: 100px;
}

.forgot_pw-form h2 {
  color: $gray20;
  font-weight: bold;
  margin-bottom: 20px;
}

.forgot_pw-form .btn{
  font-size: 16px;
  font-weight: bold;
  background: $blue38;
  border: none;
}

.forgot_pw-form .btn:hover, .forgot_pw-form .btn:focus {
  background: $blue35;
  outline: none;
}

/*change_pw*/

.change_pw-form {
  margin-top: 100px;
}

.separator {
  border-right: 1px solid $gray88;
}

.box-pw {
  margin-top: 80px;
}

.change_pw-form .btn {
  font-size: 16px;
  font-weight: bold;
  background: $blue38;
  border: none;
}

.change_pw-form .btn:hover, .change_pw-form .btn:focus {
  background: $blue35;
  outline: none;
}
